body {
    background-color: GhostWhite;
}

#links > a > img {
    height: 42px;
    width: 42px;
    margin: 4px;
    display: inline-block;
}

img {
    height: 140px;
    margin: auto;
    display: inline;
}


/*style="width:42px;height:42px;border:0"*/

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 15px;
}

#icon {
    height: 250px;
    border-radius: 100%;
    margin: auto;
    display: block;
}

#links {
    margin: auto;
    text-align: center;
}

#schools {
    /*margin: auto;*/
    text-align: center;
}

#portfolio {
    text-align: center;
    margin: 0px;
}

#dbc {
    width: 230px;
    height: 140px;
}

document.ready(){

}

#body_holder {
    display: none;
}