body {
    background-color: GhostWhite;
}

img {
    height: 200px;
    margin: auto;
    display: inline;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#icon {
    height: 250px;
    border-radius: 100%;
    margin: auto;
    display: block;
}

#links {
    text-align: center;
}

#schools {
    margin: auto;
    text-align: center;
}

#dbc {
    width: 275px;
    height: 200px;
}